*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input {
  width: 100%;
}

input[type=button] {
  height:50px;
}

li:nth-child(4n) input[type=button] {
  background-color: orange;
}

li:last-child input[type=button] {
  background-color: orange;
}

.calc-inp {
  background: red;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.flex {
  display:flex;
  flex-wrap: wrap;
}

.calc-div {
  width:50%;
  margin: 0 auto;
  padding-top: 50px;
}