*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

input {
  width: 100%;
}

input[type=button] {
  height: 50px;
  outline: transparent;
}

input[type=text] {
  direction: rtl;
  color: #f2f2f2;
  font-size: 25px;
}

li {
  background: rgba(128, 128, 128, 0.111);
  outline: 0.2px solid rgba(128, 128, 128, 0.659);
}

li:nth-child(4n) input[type=button] {
  background-color: orange;
}

li:last-child input[type=button] {
  background-color: orange;
}

.calc-inp {
  background: rgba(128, 128, 128, 0.624);
  height: 50px;

}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.calc-div {
  width:50%;
  margin: 0 auto;
  padding-top: 50px;
}