*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background-color: #370926;
  height: 100vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
}
